<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.todayBread">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/dog"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/dog_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.todayBread.wangjue.LoginActivity"/>
        <activity android:name="com.example.todayBread.wangjue.ImageTextActivity"/>
        <activity android:name="com.example.todayBread.wheat.HelloActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.todayBread.wheat.ReaderActivity"
            android:parentActivityName="com.example.todayBread.wheat.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.todayBread.wheat.MainActivity" />
        </activity>
        <activity
            android:name="com.example.todayBread.wheat.MainActivity"
            android:launchMode="singleTask">
        </activity>
    </application>

</manifest>